<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <h1>Products</h1>
    <ul>
        {% if search_text %}
            your searched : {{ search_text }}
        {% else %}
            no search_text
        {% endif %}
        {% if products %}
            <h1> co products</h1>
            {% for product in products %}
                <li>
                    {{ product[0] }} <!-- Assuming product[0] is the ID -->
                    {{ product[1] }} <!-- Assuming product[1] is the title -->
                    {{ product[2] }} <!-- Assuming product[2] is the price -->
                </li>
            {% endfor %}
        {% else %}
            <h1>khong co products</h1>
        {% endif %}
    </ul>
</body>
</html>
