<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Add Storage</title>
</head>
<body>
    <h1>Add Storage</h1>
    <form action="/add" method="POST">
        <label for="title">title:</label>
        <input type="text" id="title" name="title" required><br><br>

        <label for="price">Brand:</label>
        <input type="text" id="price" name="price" required><br><br>

        <label for="img">Rating:</label>
        <input type="text" id="img" name="img" required><br><br>


        <button type="submit">Save</button>
        <a href="/">Cancel</a>
    </form>
</body>
</html>